*{
  font-family: Arial, sans-serif;
}
.topbar{
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
  font-size: 13px;
  color: grey;
  text-decoration: none;
  text-align: right;
  margin-top: 20px;
}

a{
  padding: 0 10px;
  color: grey;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#sign{
  padding: 8px 11px;
  border-radius: 8%;
  color: white;
  background-color: #0073e6;
  text-decoration: none;
}
img{
  display: block;
  padding-top: 160px;
  padding-bottom: 5px;
  margin: auto;
}
#search{
  margin: 0;
  border: 1px;
  text-align: center;
}
input[type=text]{
  text-align: auto;
  padding: 13px;
  width: 45%;
}
input[type=text]:hover{
  box-shadow: 2px 5px 0 #bfbfbf;
  -moz-box-shadow: 2px 5px 0 #bfbfbf;
  -webkit-box-shadow: 2px 5px 0 #bfbfbf;
}
.submit{
  margin: 0;
  text-align: center;
  border-color: #e6e6e6;
}
input[type=submit] {
    padding:12px 13px;
    font-size: 13px !important;
    font-weight: bold;
    background:#f2f2f2;
    color: #808080;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
input[type=submit]:hover{
  border: 1px solid #b3b3b3;
}

input:focus{
  outline: none;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #efefef;
  font-size: 13px;
  border-top: 1px #d9d9d9;
}
.navLeft{
  margin: 5px;
  float: left;
}
.navRight{
  margin: 5px;
  float: right;
}
